#全国大学生数学建模可能会用到的python包

numpy
scipy
pandas
sympy
numba

openpyxl
xlrd
xlsxwriter
pyarrow

matplotlib
seaborn
plotly

scikit-learn
xgboost
lightgbm
statsmodels

pulp
cvxpy
ortools

networkx

opencv-python
Pillow
PyMuPDF
scikit-image

tqdm

PyYAML
pydantic
